@media( max-width: 991px )
    .promo
        min-height: 740px
    .about__descr
        margin-top: 65px
    .counter
        min-height: 220px
    .counter__item
        padding: 0
        padding: 35px 10px
    .services__img
        img
            width: 40px
            height: 40px
    .services__title
        font-size: 19px
    .services__descr
        font-size: 15px
    .services__divider
        display: none
    .weDo
        min-height: 700px
        padding: 0
        padding: 60px 0
    .slider
        padding: 30px 0
    .team
        padding: 70px 0
        .name, .position
            font-size: 19px
    .companys
        min-height: 200px
    .work
        padding: 30px 0
        &__wrapper
            margin: 0
        &__subtitle
            margin-bottom: 30px
    .slider-second .slider__item-image 
        width: 280px
        height: 100px
    .blog
        padding: 70px 0
    .footer__mogo
        margin-bottom: 40px

@media( max-width: 768px )
    .hamburger
        display: block
    .promo
        ul
            margin: 0
    .navigation
        display: none
    .promo
        .basket
            display: none
    .weDo__wrapper
        display: flex
        flex-direction: column
    .weDo__descr-item    
        &:nth-child(1)
            margin-top: 20px
    .counter 
        min-height: 200px;
    .counter__item
        padding: 35px 5px
        span
            font-size: 60px
    .services
        padding: 50px 0px
    .design
        padding: 50px 0px
    .footer__instagram
        margin-top: 30px
    .promo__header
        position: fixed
        width: 100%
        z-index: 100
        top: 0
        padding: 15px 0px
        background-color: rgba(243, 129, 129, 0.8)
    .promo__logo
        text-align: center

@media( max-width: 576px)
    .title 
        p 
            font-size: 23px
            margin-bottom: 0
    .title__divider 
        margin: 10px auto 0 auto;
    .promo__header
        padding: 0
    .promo
        .title-promo 
            p 
                font-size: 32px
            h1 
                line-height: 50px
                font-size: 54px
    .about 
        padding: 60px 0 70px 0
        &__descr
            margin-top: 35px
            font-size: 12px
            line-height: 16px
    .counter__item 
        span 
            font-size: 40px
    .counter 
        min-height: 180px
    .counter__item 
        p
            font-size: 12px
    .services__img 
        img 
            width: 30px
            height: 30px
    .services__title 
        font-size: 15px
    .services__descr 
        font-size: 12px
    .design 
        min-height: 650px
    .design .wrapper
        padding-top: 70px
        min-height: 570px
    .weDo__subtitle 
        font-size: 12px
        line-height: 16px
    .weDo__descr-logo 
        span
            font-size: 13px
    .slider__item
        display: flex
        flex-direction: column
        &-image
            margin: 0
        &-descr
            p
                margin-top: 15px
                font-size: 14px
                line-height: 22px
                text-align: justify
            span
                font-size: 24px
    .team__subtitle 
            margin-top: 35px
            font-size: 12px
            line-height: 16px
    .companys 
        min-height: 105px
    .work__subtitle 
            margin-top: 35px
            font-size: 12px
            line-height: 16px
    .slider-second .slider__item-image 
        img 
            height: 100%
            width: auto
            margin: auto
    .say__item-photo 
        img 
            height: auto
    .footer__mogo-title 
        width: 100%
    .footer__wrapper
        padding: 0 10px
    .footer__mogo-descr 
        p
            text-align: justify
    .footer__mogo-social_icons 
        flex-wrap: wrap
    .footer__mogo-form 
        input
            width: 65%
        form
            width: 100%
            border: 1px solid red
        button 
            width: 35%
            padding: 7px 5px