@media( max-width: 991px )
    .promo
        min-height: 740px
    .about__descr
        margin-top: 65px
    .counter
        min-height: 220px
    .counter__item
        padding: 0
        padding: 35px 10px
    .services__img
        img
            width: 40px
            height: 40px
    .services__title
        font-size: 19px
    .services__descr
        font-size: 17px
    .services__divider
        display: none
    .weDo
        min-height: 700px
        padding: 0
        padding: 60px 0
    .slider
        padding: 30px 0
    .team
        padding: 70px 0
        .name, .position
            font-size: 19px
    .companys
        min-height: 200px
    .work
        padding: 30px 0
        &__wrapper
            margin: 0
        &__subtitle
            margin-bottom: 30px
    .slider-second .slider__item-image 
        width: 280px
        height: 100px
    .blog
        padding: 70px 0
    .footer__mogo
        margin-bottom: 40px
