@import 'libs/bootstrap-reboot.min'
@import 'libs/slick.scss'
@import 'base/fonts'
@import 'libs/bootstrap-grid.min'
@import 'libs/bootstrap-reboot.min'
@import 'base/variables'




input, textarea,button, button:active, button:focus 
    outline: none
    border: none

*
    font-family: 'Montserrat', sans-serif

body .col-lg
    padding: 0



@import 'blocks/about'
@import 'blocks/title'