@import 'libs/bootstrap-reboot.min'
@import 'libs/slick.scss'
@import 'base/fonts'
@import 'libs/bootstrap-grid.min'
@import 'base/variables'





input, textarea,button, button:active, button:focus 
    outline: none
    border: none

*
    font-family: 'Montserrat', sans-serif


@import 'blocks/promo'
@import 'blocks/title'
@import 'blocks/about'
@import 'blocks/counter'
@import 'blocks/services'
@import 'blocks/design'
@import 'blocks/weDo'
@import 'blocks/team'
@import 'blocks/companys'
@import 'blocks/work'
@import 'blocks/slider'
@import 'blocks/say'
@import 'blocks/blog'
@import 'blocks/map'
